*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.grid .col{
    float: left; /*(inline-block) é a mesclagem do inline e block porém pega os espaços do html*/
    /*(float) seria o elemento ocupar somente o espaço dele, e libera o restante para os outros,
    porém quando usamos essa prorpiedade nos filhos de um elemento, eles não computam tamanho para o pai*/
    width: 33.33%;
    height: 300px;
    box-sizing: border-box;
    padding: 15px;
}

p{
    clear: both; /*limpando a esquerda e a direita*/
}

.grid{
    box-sizing: border-box;
    padding: 15px; 
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 73px;

}
.grid::after{
    content: '';
    display: block;
    clear: both; /*a grid faz o teu próprio clear*/
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 50px; /*arredondando as bordas*/
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    /* sombras direita e esquerda / cima e baixo/ blur da sombra/ espalhamento */
}

.menu{
    width: 100%;
    position: fixed;
    background-color: black;
}

.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    display: block;
    color: white;
    padding: 25px;
    font-family: sans-serif;
    text-decoration: none;
    transition: all 300ms ease-in-out;    
}

.menu ul li a:hover{
    background-color: #333;
}

.full-page{
    
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    background-color: violet;
}

.full-page-content{
    max-width: 1200px;
    padding: 0 30px; 
    margin: 0 auto;
}

/*Aplicando MediaQueries, deixando o site responsivo */
@media all and (max-width: 568px){ /* só é aplicado quando esta condição for verdadeira */
    .grid .col{
        width: 100%; /*passa a ter apenas uma coluna*/
    }
}
@media all and (min-width: 569px) and (max-width: 768px){ 
    .grid .col{
        width: 50%;
    }
}