*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 40px;
}

.grid{
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr)); 
    /*passa o tamanho das colunas na ordem, por exemplo( grid-template-columns: 50% 50%)*/
    /* (1fr) seria o fragmento do espaço em branco que restou,
    em vez de repetir o número de colunas, podemos usar: repeat(3, 1fr).
    Para dispositivos menores poderiamos usar mediaQueries, mas também podemos usar o (min) dentro do (repeat)
    (auto-fll) ajusta a quantidade de colunas ao tamanho da tela*/

    grid-template-rows: 2fr;
}

.grid div{
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5){
    background-color: red;
    grid-column-start: 2; /*começa nessa coluna e termina na 4*/
    grid-column-end: 4;
    grid-row: span 1; /*podemos usar o span, assim ela ocupa duas linhas*/
}

@media (max-width: 768px){
    .grid div:nth-child(5){
        grid-column: span 1;    
    }
    
}